{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info text-center">Message flash : {{ message }}</div>
    {% endfor %}

    <h1>Liste des annonces</h1>
    <hr>

    <ul>
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                {{ advert.title }}
            </a>
            Par {{ advert.author }},
            Le {{ advert.date|date('d/m/Y') }}
        </li>
        {% else %}
        <li>Pas encore d'annonces</li>
    {% endfor %}
        </ul>
{% endblock %}